body {
  margin: 0px;
  font-family: "Inter", sans-serif;
  color: #111111;
  /* background: #F3F5FC; */
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

.header {
  display: flex;
  margin-top: 20px;
  margin-left: 84px;
  margin-bottom: 20px;
}
.header h1 {
  margin: 0 auto;
  align-self: center;
  color: #0a3871;
  font-weight: 800;
}

.container-geral {
  margin: 0 auto;
  display: flex;
  width: 1400px;
  height: 800px;
  border-radius: 40px;
  justify-content: center;
  background: #f3f5fc;
  box-shadow: 0px 0px 32px -20px rgba(0, 0, 0, 0.5);
}

.container1 {
  margin-top: 50px;
  margin-right: 100px;
}

.input {
  resize: none;
  font-family: "Inter";
  width: 700px;
  height: 390px;
  border: none;
  padding: 10px;
  font-size: 2rem;
  margin-bottom: 150px;
  outline: none;
  color: #0a3871;
  background-color: transparent;
}

.input-2 {
  display: none;
  resize: none;
  font-family: "Inter";
  width: 336px;
  height: 781px;
  border: none;
  align-self: center;
  margin-top: 10px;
  font-size: 1.5rem;
  outline: none;
  color: #495057;
  background-color: transparent;
}

.container1-info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.container1-paragrafo {
  font-size: 12px;
}

.container2 {
  display: flex;
  flex-direction: column;
  align-self: center;
  place-content: center;
  gap: 30px;
  width: 400px;
  height: 700px;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  background: #ffffff;
}

.container2-img {
  align-self: center;
  width: 310px;
}

.container2-texto {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 120%;
  max-width: 250px;
  text-align: center;
  margin: 0 auto;
}

.container2-paragrafo {
  text-align: center;
}

.botoes {
  display: flex;
  gap: 20px;
}

.button:hover {
  background: #0a3871;
  color: #ffffff;
}

.button2:hover {
  background: #0a3871;
  color: #ffffff;
}

.button {
  background: #d8dfe8;
  border: 1px solid #0a3871;
  border-radius: 20px;
  padding: 15px 80px;
  font-size: 1rem;
  margin-top: 16px;
  cursor: pointer;
}

.button2 {
  display: none;
  background: #d8dfe8;
  border: 1px solid #0a3871;
  border-radius: 20px;
  padding: 15px 100px;
  font-size: 1rem;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 30px;
}
.footer {
  display: flex;
  gap: 20px;

  justify-content: center;
}
.footer-a {
  display: flex;
  align-items: center;
}
.footer-img {
  max-width: 40px;
}
@media (max-width: 1400px) {
  .container-geral {
    width: 1000px;
    height: 800px;
  }

  .input {
    width: 100%;
    padding: 0px;
    font-size: 1.5rem;
    margin-top: 25px;
  }

  .input-2 {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    font-size: 1.2rem;
  }

  .container2 {
    gap: 10px;
    width: 300px;
    height: 650px;
    border-radius: 20px;
  }

  .container2-texto {
    font-size: 1.3rem;
  }

  .container2-paragrafo {
    font-size: 0.9rem;
  }
}

@media (max-width: 1000px) {
  body {
    background: #f3f5fc;
  }
  .header h1 {
    display: none;
  }

  .header {
    margin: 40px 40px;
  }

  .container-geral {
    background: none;
    max-width: 100%;
    flex-direction: column;
    box-shadow: none;
  }
  .container1 {
    margin-left: 40px;
    margin-top: 0px;
  }

  .botoes {
    padding-bottom: 20px;
    justify-content: center;
  }

  .container1-info {
    justify-content: center;
  }

  .input {
    width: 688px;
    height: 288px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .input-2 {
    padding: 10px;
  }

  .container2 {
    width: 688px;
    height: 343px;
    border-radius: 20px;
  }

  .container2-img {
    display: none;
  }

  .container2-texto {
    max-width: 100%;
  }
}

@media (max-width: 700px) {
  .header {
    margin: 16px 16px;
  }

  .container1 {
    margin-left: 16px;
    margin-top: 100px;
    margin-right: 16px;
  }

  .botoes {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
    margin-top: 10px;
  }
  .button {
    margin-top: 0px;
  }
  .button2 {
    padding: 5px 80px;
    margin-bottom: 10px;
  }

  .input {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .input-2 {
    max-width: 100%;
    height: 200px;
    padding: 5px;
  }

  .container2 {
    max-width: 100%;
    margin-top: 10px;
  }

  .container2-texto {
    justify-content: center;
    max-width: 100%;
  }
  .footer-total {
    display: none;
  }
}
